.nix-venv
**/__pycache__/**
.env
.hypothesis/
.coverage
.pytest_cache
.vscode
.history
.idea
.mypy_cache

*private_key*
keys.json

agent/
service/

packages/tatha/customs/trader_ui
packages/valory/customs/bet_amount_per_threshold
packages/w1kke/customs/always_blue
packages/jhehemann/customs/kelly_criterion
packages/valory/customs/mike_strat
packages/valory/protocols/abci
packages/valory/protocols/http
packages/valory/protocols/contract_api
packages/valory/protocols/ledger_api
packages/valory/protocols/acn
packages/valory/protocols/ipfs
packages/valory/protocols/tendermint
packages/open_aea/protocols/signing
packages/valory/contracts/gnosis_safe_proxy_factory
packages/valory/contracts/service_registry
packages/valory/contracts/gnosis_safe
packages/valory/contracts/mech
packages/valory/contracts/multisend
packages/valory/contracts/erc20
packages/valory/contracts/service_staking_token
packages/valory/contracts/transfer_nft_condition
packages/valory/contracts/realitio
packages/valory/contracts/realitio_proxy
packages/valory/contracts/agent_registry
packages/valory/contracts/market_maker
packages/valory/contracts/conditional_tokens
packages/valory/connections/abci
packages/valory/connections/http_client
packages/valory/connections/ledger
packages/valory/connections/p2p_libp2p_client
packages/valory/connections/ipfs
packages/valory/skills/abstract_abci
packages/valory/skills/abstract_round_abci
packages/valory/skills/transaction_settlement_abci
packages/valory/skills/market_manager_abci
packages/valory/skills/mech_interact_abci
packages/valory/skills/staking_abci
packages/valory/skills/decision_maker_abci
packages/valory/skills/registration_abci
packages/valory/skills/termination_abci
packages/valory/skills/check_stop_trading_abci
packages/valory/skills/reset_pause_abci
packages/valory/skills/tx_settlement_multiplexer_abci
packages/valory/skills/trader_abci
packages/eightballer/protocols/http
packages/eightballer/protocols/websockets
packages/eightballer/connections/http_client
packages/eightballer/connections/http_server
packages/eightballer/connections/websocket_server
